.warning {
  color: red;
  font-size: 16px;
}

.login-view-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background: linear-gradient(0deg, rgba(133, 96, 169, 0.7), rgba(133, 96, 169, 0.7)),
    url('../../assets/img/Street-Dance-01.jpg');
  background-size: cover;
  justify-content: space-between;

  .title-section {
    margin-top: 3rem;
    .top-section {
      color: var(--lime);

      .subtitle {
        font-weight: 500;
        font-size: 16px;
      }

      .title {
        font-weight: bold;
        font-size: 24px;
      }

      .logo-wrap {
        margin: auto;
        border: 1px solid var(--lime);
        border-radius: 50%;
        width: 12%;

        svg {
          margin: 0.5rem;
          fill: var(--lime);
        }
      }
    }
  }

  .form-section {
    display: flex;
    flex-direction: column;

    ::placeholder {
      color: var(--violet);
    }

    .username-input-wrap {
      margin: 0.5rem auto;
      width: 75%;
      display: flex;
      flex-direction: row;
      border: 1px solid var(--lilac);
      border-radius: 22px;

      svg {
        margin: 0.5rem;
        width: 8%;
        fill: var(--light-purple);
      }

      input {
        width: 100%;
        margin-right: 0.5rem;
        background: none;
        border: none;
        color: var(--dark-purple);
      }

      input:focus {
        outline: none;
        fill: none;
      }
    }

    .password-input-wrap {
      margin: 0.5rem auto;
      width: 75%;
      display: flex;
      flex-direction: row;
      border: 1px solid var(--lilac);
      border-radius: 22px;

      svg {
        margin: 0.5rem;
        width: 8%;
        fill: var(--light-purple);
      }

      input {
        width: 100%;
        margin-right: 0.5rem;
        background: none;
        border: none;
        color: var(--dark-purple);
      }

      input:focus {
        outline: none;
        fill: none;
      }
    }

    .active {
      background: rgba(211, 193, 229, 0.2);
    }
  }

  .sign-in-section {
    .sign-in-btn {
      cursor: pointer;
      border: none;
      text-align: center;
      width: 100%;
      padding: 1.5rem 0;
      font-weight: bold;
      background: var(--lime);
      color: var(--dark-purple);
      -webkit-appearance: none;
    }
  }
}
