:root {
  // colors
  --lime: #d5ef7f;
  --dark-purple: #453257;
  --lilac: #bababa;
  --violet: #ac8ec9;
  --purple: #8560a9;
  --light-purple: #d3c1e5;
  --brown: #ff453257;
  --gray: #67616d;
  --red: #ff5c5c;
  --ash: #e8e8e8;
  // font-size
}
